body,
* {
  font-family: 'Raleway', sans-serif !important;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 50%;
  flex-wrap: wrap;
}

h2 {
  font-size: 58px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
